<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
  
    @import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
    
    .menu {
        overflow: visible;
        background-color: black;
        border: none;
        position: fixed;
        top: 0;
        width: 100%;
        font-family: "Kanit", sans-serif;
        font-size: 20px;
        z-index: 999;
    }

    .menu:hover {
        color:white;
    }
  
    .nav {
        float: left;
        display: block;
        color: rgb(249, 238, 238);
        text-align: center;
        padding: 14px 16px;
        font-family: "Kanit", sans-serif;
        font-size: 20px%;
    }

    .nav:hover {
        background-color: rgb(7, 7, 57);
    }

</style>

  <p class="menu">
    {% include account.html %}     
     <table class="menu">
            <tr>
                <td><a href="."><img src="{{site.baseurl}}/images/logo.png" width="120px"></a></td> 
                <td><a href="/home" class="nav">Home</a></td>
                <td><a href="/catalog" class="nav">Catalog</a></td>
                <td><a href="/sample-questions" class="nav">Car Search Tool</a></td>
                <td><a href="/scrumboard" class="nav">About Us</a></td>
                <td style="float:right"> <a action="javascript:" onclick="openForm()" class="nav">Sign In</a></td>
            </tr>
    </table>
</p>

