<style>
	@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
    .title {
        font-family: "Kanit", sans-serif;
        font-size: 20px;
        color: white;
        display: grid;
		justify-content: center;
    }

    #login {
        display: none;
        color: white;
        width: 40%;
        height: 50%;
        padding: 50px;
        padding-top: 30px;
        background-color: rgb(16, 15, 15);
        position: fixed;
        left: 50%;
        top: 7%;
        transform: translate(-50%, 25%);
        border: 5px solid white;
        border-radius: 8px;
        z-index: 9;
    }
    .log-in-label {
        color: white;
        font-family: "Kanit", sans-serif;
        font-size: 20px;
        display: grid;
		justify-content: center;
        
    }
    .cancel {
        background-color: white;
        position: fixed;
        top: 15px;
        right: 20px;
        border: none;
        font-weight: bold;
    }

    .cancel:hover {
        color:rgb(4, 4, 43);
    }

    .createbutton {
        background-color: white;
        border-radius: 8px;
        color: black;
        border: none;
        margin: 0;
        position: absolute;
        left: 50%;
     	transform: translate(-50%, -50%);
        font-family: "Kanit", sans-serif;
        font-size: 20px;

    }

    .createbutton:hover {
        color: rgb(4, 4, 43);
    }
    
</style>

<body>
<form onsubmit="create_User()" id="login">
    <h3><label class="title">Login</label></h3>
    
    <p><label class="log-in-label">
        Email:
        <input type="email" name="email" id="email" required>
    </label></p>
    <p><label class="log-in-label">
        Password:
        <input type="password" name="password" id="password" required>
    </label></p>
    <br><br>
    <p>
        <button class="createbutton">Login</button>
    </p>
    <button type="button" class="cancel" onclick="closeLog()">x</button>
</form>
</body>

<script>
    function openLog() {
        document.getElementById("login").style.display = "block";
    }
    function closeLog() {
        document.getElementById("login").style.display = "none";
    }
    window.onclick = function (event) {
        let modal = document.getElementById('loginPopup');
        if (event.target == modal) {
    closeLog();
        }
    }
    function create_User(){
        // extract data from inputs
        const email = document.getElementById("email").value;
        const password = document.getElementById("password").value;
        const requestOptions = {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'Authorization': 'Bearer my-token',
            },
        };
        //url for Create API
        const url='/api/create/' + email+ '/' + password;
        //Async fetch API call to the database to create a new user
        fetch(url, requestOptions).then(response => {
            // prepare HTML search result container for new output
            const resultContainer = document.getElementById("result");
            // get error
            if (response.status !== 200) {
                const errorMsg = 'Database response error: ' + response.status;
                console.log(errorMsg);

                document.getElementById("pswError").innerHTML =
                    "Account found, logging you in";
                return;
            }
            // response contains valid result
            response.json().then(data => {
                console.log(data);
                //add a table row for the created user
                const tr = document.createElement("tr");
                for (let key in data) {
                    if (key !== 'query') {
                        //create a DOM element for the data(cells) in table rows
                        const td = document.createElement("td");
                        console.log(data[key]);
                        //truncate the displayed password to length 20
                        if (key === 'password'){
                            td.innerHTML = data[key].substring(0,17)+"...";
                        }
                        else{
                            td.innerHTML = data[key];}
                        //add the DOM data element to the row
                        tr.appendChild(td);
                    }
                }
                //append the DOM row to the table
                table.appendChild(tr);
            })
        })
    }
</script>