@import "{{ site.theme }}";

/* "row style" is flexible size and aligns pictures in center */
.row {
    align-items: center;
    display: flex;
  }
  
  /* "column style" is one-third of the width with padding */
  .column {
    flex: 33.33%; 
    padding: 5px;
  }

h1 {
  font-family: "Kanit", sans-serif;
  font-size: 30px;
  color: white;
}

h2 {
  font-family: "Kanit", sans-serif;
  font-size: 25px;
  color: white;
}

h3 {
  font-family: "Kanit", sans-serif;
  font-size: 20px;
  color: white;
}

p {
  font-family: "Kanit", sans-serif;
  font-size: 15px;
  color: white;
}

  